@model AllProductsQueryModel

@{
    ViewBag.Title = "Products";
}

<form method="get">
    <div class="container mt-5">
        <div class="row">
            <div class="col-lg-3">
                <h3>Categories</h3>
                <label asp-for="Category"></label>
                <select asp-for="Category" class="form-control">
                    <option value="">All</option>
                    @foreach (var category in Model.Categories)
                    {
                        <option value="@category">@category</option>
                    }
                </select>
            </div>
            <div id="product-list" class="col-lg-9 row">
                @foreach (var product in Model.Products)
                {
                    <div class="col-lg-4 mb-4">
                        <partial name="Partials/_ProductPartial" model="product" />
                    </div>
                }
            </div>
        </div>
    </div>
</form>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
@*<script>
    $(document).ready(function () {
        $("#category-list li").on("click", function () {
            $("#category-list li").removeClass("active");
            $(this).addClass("active");
            var selectedCategory = $(this).data("category");
            filterProducts(selectedCategory);
        });

        function filterProducts(category) {
            debugger;
            $("#product-list .col-lg-4").hide();
            if (category === "all") {
                $("#product-list .col-lg-4").show();
            } else {
                $("#product-list .col-lg-4[data-category='" + category + "']").show();
            }
        }
    });
</script>*@