@model OrdersViewModel
@{
    ViewBag.Title = "Orders";
}

<div class="container">
    <main role="main" class="pb-3">
        <h3>Your Orders</h3>
        <hr />
        @if (Model.Orders.Count > 0)
        {
            @foreach (var item in Model.Orders)
            {
                <partial name="Partials/_OrderPartial" model="@item" />
            }
        }
        else
        {
            <p>You don't have any orders yet!</p>
        }
        <hr />
    </main>
</div>